name: pageLoader-check
on: push
jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
          matrix:
            node-version: [22.x, 24.x]

        steps:
          - uses: actions/checkout@v6
            with:
              fetch-depth: 0 

          - name: Use Node.js ${{ matrix.node-version}}
            uses: actions/setup-node@v6
            with:
              node-version: ${{ matrix.node-version}}
              cache: 'npm'

          - run: make install
          - run: make lint
          - run: make test
          - run: make test-coverage
          - name: SonarQube Scan
            uses: SonarSource/sonarqube-scan-action@v7
            env:
              SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
